.edicionPP {
    cursor: pointer !important;
    color: #1e76bd;
}
.BitacoraDetails {
    cursor: pointer;
}
.modal100 {
    width: 95%;
    max-width: none;
}
.ofcreated {
    font-size: 22px;
    font-weight: bold;
    color: #1e76bd;
}

/*Estilos de Plan produccion Linea*/
.btn-opcionesPP {
    font-size: 19px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
    background-color: #1e76bd;
    color: #f0f0f0;
    border: 1px solid #c0c0c0;
}

.btn-opcionesPP:hover {
    background-color: #acacac;
    border: 1px solid #000;
    color: #000;
}

.btn-opcionesPPlus {
    font-size: 19px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
    background-color: #c9b656;
    color: #f0f0f0;
    border: 1px solid #c9b656;
}

.btn-opcionesPPlus:hover {
    background-color: #c0b992;
    border: 1px solid #a88d00;
    color: #a88d00;
}

.btn-paroLinea {
    font-size: 19px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
    background-color: #dc362e;
    color: #dbdbdb;
    border: 1px solid #dc362e;
}

.btn-paroLinea:hover {
    background-color: #e0adad;
    color: #d86363;
    border: 1px solid #d86363;
}

.btn-contraer {
    color: #252525 !important;
    background-color: #efefef;
    border-color: #cbcbcb;
    border-radius: 20px;
    padding: 3px 6px !important;
    font-size: 12px !important;
    font-weight: bolder;
}

.btn-contraer:hover {
    background-color: #d8d8d8;
    border-color: #c2c2c2;
}

/*CONTENEDOR DE DETALLES*/
.detalles {
    height: 40vh;
    overflow-x: auto;
    border-top: solid 2px var(--bs-darkfl);
    scrollbar-width: thin;
    scrollbar-color: var(--bs-redfn) var(--bs-grayf);
    animation: scaleInUp 1s ease-out;
}

.detalles > .row {
  border-radius: 10px;
}
/*<END CONTENEDOR DETALLES*/

.detallesVacio {
    width: 98%;
    height: 25vh;
    border-radius: 10px;
    margin: 0 auto;
    color: white;
    background-color: var(--bs-darkfl);
    text-align: center;
    animation: scaleInUp 1s ease-out;
}



/*BORDER DEL PRIMER Y ULTIMO HIJO DE LAS FILAS DE DETALLES*/
.detalles > .row > .celda-d:first-child > div:first-child {
    border-top-left-radius: 10px;
}

.detalles > .row > .celda-d:first-child > div:nth-child(2){
    border-bottom-left-radius: 10px;
}

.detalles > .row > .celda-d:last-child > div:first-child{
    border-top-right-radius: 10px;
}

.detalles > .row > .celda-d:last-child > div:nth-child(2){
   border-bottom-right-radius: 10px;
}
/*<END BORDER DEL PRIMER Y ULTIMO HIJO DE LAS FILAS DE DETALLES*/


.celda-d {
    /*width: auto;*/
    border: solid 2px var(--whitef);
    background-color: var(--bs-bgwhitef);
    padding: 0;
    margin: 0;
}

.celda-d > div:first-child {
    background-color: var(--bs-darkfl);
    color: var(--whitef);
    width: 100%;
    padding: 0 8px;
    padding-top: 5px;
}

.celda-d > div {
    text-align:center;
}


/*ANIMACIONES*/
@keyframes scaleInUp {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(20px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.subtable {
    display: block;
    width: 100%;
    overflow-x:visible;
    z-index:10;

}

.subtable thead tr > th {
    color: #ffffff !important;
    background: #1e76bd !important;
    font-weight: bold;
    text-align: center;
}


.subtable tbody tr > td {
    background-color: #8d8b8b8f !important;
    color: white !important;
    font-weight: bold;
    cursor: pointer;
}

.fila-en-paro td {
    background-color: #f8d7da !important; /* rojo clarito */
}



/* Texto de los tabs */
.nav-tabs {
    border-bottom-color: #334155c7 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #334155 !important;
}

.nav-tabs .nav-link {
    color: #334155;
}

/* Tab activo */
.nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #334155 !important;
    border-color: #64748B !important;
    box-shadow: 2px -1px 7px 0px #7e7e7e;
        
}

.nav-tabs .nav-link:focus-visible {
    background-color: #334155;
    color: #ffffff;
    box-shadow: 2px -1px 7px 0px #7e7e7e;
}



/*Pantalla del navbar de OT Polietileno*/
/* ── Estatus badges ── */
.badge-estatus {
    font-size: .75rem;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 50px;
}

.badge-estatus.terminada {
    color: #1a8a1a;
    font-size: 15px;
}

.badge-estatus.proceso {
    color: #b87a00;
    font-size: 15px;
}

.badge-estatus.pendiente {
    color: #c0392b;
    font-size: 15px;
}

/*Estilos de tabla*/
#tablaOT.dataTable tbody tr.fila-ot:hover td {
    background-color: #f2f2f2 !important;
    color: #000000;
    font-weight: normal !important;
}

/*Seccion informacion General OT*/
.infoGenTitle-OT {
    color: #8f8f8f;
    font-weight: 500;
}

.infoGenCont-OT {
    color: #000000;
    font-size: 15px;
    font-weight: bolder;
}

.tarjet-infoGen {
    background-color: #f8f9fa;
    border-radius: 12px;
    border: 1px solid #d5d5d5;
}

.si-agregar-producto {
    color: #dc362e !important;
    font-size: .78rem;
    text-decoration: none;
}

.si-agregar-producto:hover {
    color: #848484 !important
}

.seccion-folioOT {
    background-color: #ffedd8ab;
    border-radius: 5px;
    border: 1px solid #fdead4;
}

.estilo-seccionFolio {
    font-size: 19px;
    margin-left: 6px;
}

.icons-form-OTResina {
    color: #7a7a7a;
}

.btn-especificacion {
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
}

.btn-especificacion:hover {
    color: #fff;
    background-color: #0d6efdbd;
}


/*Seccion de bascula*/
.cuadro-pesaje {
    min-width: 130px;
    background: #fff;
}

.indicador-conectada {
    font-size: 19px;
}

.pesaje-medida {
    font-size: 53px;
}

.indicador-PActual {
    font-size: 17px;
}

.cont-numConteo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.seccion-tarjet-infoGen {
    border: 1px solid #d5d5d5;
    background: #f8f9fa;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.075);
}

/*Seccion OT Polietileno*/
#tblRegistroProduccion td:nth-child(1) {
    width: 50px;
}

#tblRegistroProduccion th:nth-child(2),
#tblRegistroProduccion td:nth-child(2) {
    width: 65px;
}

#tblRegistroProduccion th:nth-child(3),
#tblRegistroProduccion td:nth-child(3) {
    width: 100px;
}

#tblRegistroProduccion th:nth-child(4),
#tblRegistroProduccion td:nth-child(4) {
    width: 125px;
}

#tblRegistroProduccion th:nth-child(5),
#tblRegistroProduccion td:nth-child(5) {
    width: 120px;
}

/* Tabla de molino */
.tabla-molido th:nth-child(1),
.tabla-molido td:nth-child(1) {
    width: 105px;
}

.tabla-molido th:nth-child(2),
.tabla-molido td:nth-child(2) {
    width: 160px;
}

.tabla-molido th:nth-child(3),
.tabla-molido td:nth-child(3) {
    width: 160px;
}

.tabla-molido th:nth-child(4),
.tabla-molido td:nth-child(4) {
    width: 160px;
}

.tabla-molido th:nth-child(5),
.tabla-molido td:nth-child(5) {
    width: 160px;
}

.input-molido {
    width: 95px;
}


/*Seccion de Consumo de material escaneado*/
.tipo-material {
    background-color: #00000091;
    color: white;
    border: 1px solid #000;
    border-radius: 12px;
    width: 85px;
    font-weight: 600;
    padding-top: 2px;
    padding-bottom: 2px;
}

.denier-material {
    background-color: #dc362e4a;
    border: 2px solid #dc362e;
    border-radius: 12px;
    width: 85px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
}

.contenedor-datos-RB {
    display: inline-block;
    align-items: center;
}

.porcentaje-material {
    background-color: #dc362e4a;
    border: 2px solid #dc362e;
    border-radius: 12px;
    width: 85px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
}

.btn-eliminarME {
    font-size: 19px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: bold;
}

.subtitulos-seccion {
    background-color: #fff3e5;
    border-radius: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #fdead4;
}

#alertaReceta {
    text-align:justify;
}

.tabla-materiales th:nth-child(1),
.tabla-materiales td:nth-child(1) {
    min-width: 140px;
}

.tabla-materiales th:nth-child(2),
.tabla-materiales td:nth-child(2) {
    min-width: 120px;
}

.tabla-materiales th:nth-child(3),
.tabla-materiales td:nth-child(3) {
    min-width: 370px;
}

.tabla-materiales th:nth-child(4),
.tabla-materiales td:nth-child(4) {
    min-width: 850px;
}

.tabla-materiales th:nth-child(5),
.tabla-materiales td:nth-child(5) {
    min-width: 150px;
}

.tabla-materiales th:nth-child(6),
.tabla-materiales td:nth-child(6) {
    min-width: 190px;
}

.tabla-materiales th:nth-child(7),
.tabla-materiales td:nth-child(7) {
    min-width: 180px;
}

.tabla-materiales th:nth-child(8),
.tabla-materiales td:nth-child(8) {
    min-width: 160px;
}

.cards-principal {
    border-radius: 9px;
    overflow: hidden;
}

.cards-encabezado {
    background: #dc362e;
}

.cards-medidasMaterial {
    background: #6e6e6e;
    border: 1px solid #323232;
    font-size: 13px;
}

.cards-proveedores {
    font-size: 16px;
    text-align: justify;
}

.seccion-btns-CDM {
    justify-content: space-between;
}

.seccion-btns-Dev {
    justify-content: space-between;
}


/*Seccion de devoluciones*/
/*Seccion botones*/
.btn-genEtiquetaProduccion {
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.btn-genEtiquetaProduccion:hover {
    color: #fff;
    background-color: #0d6efdbd;
}

.btn-guardarProduccion {
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 8px;
}

.btn-guardarProduccion:hover {
    color: #fff;
    background-color: #0d6efdbd;
}

.btn-genEmision {
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.col-devolver {
    width: 110px;
}

.input-cantDevolver {
    width: 100px;
    text-align: center;
}

#modalEliminarMaterialE {
    background-color: #000000a1;
}

.key-estilo-icon {
    font-size: 15px;
}

/*Seccion Recibo de produccion*/
/*Lectura de bascula por pieza individual*/
.contenedor-bascula-indvidual {
    background: #f0faf4;
    border: 1px solid #d4edda;
    box-shadow: 3px 2px 6px #d5d5d5;
}

.text-lect-pz-ind {
    font-size: 17px;
}

.cant-pz-ind {
    font-size: 50px;
    color: #1a8a1a;
}

.conexion-bascula-cant-pz-ind {
    font-size: 19px
}


.text-color-bajo-MPconsumido {
    color: #dc362e;
}
.text-color-proceso-MPconsumido {
    color: #b87a00;
}
.text-color-completo-MPconsumido {
    color: #198754;
}

/* progress bar cantidad producida */
.contenedor-progreso {
    height: 15px;
    border-radius: 50px;
    box-shadow: inset 6px 4px 4px 2px #d5d5d5;
}

.barra-progreso {
    width: 85%;
    border-radius: 50px;
    background: #dc362e;
    box-shadow: 8px 0px 4px 0px #d5d5d5;
}

.barra-progreso-total {
    width: 45%;
    border-radius: 50px;
    background: #3fdc2e80;
    box-shadow: 8px 0px 4px 0px #d5d5d5;
}

#contenedorTipoEtiqueta input[type="radio"] {
    position: static !important;
    opacity: 1 !important;
    left: auto !important;
}

#contenedorTipoEtiqueta .form-check-label::before,
#contenedorTipoEtiqueta .form-check-label::after {
    display: none !important;
}

.check-tipo-etiqueta:checked {
    background-color: #dc362e;
    border-color: #dc362e;
}

.check-tipo-etiqueta:focus {
    box-shadow: 0 0 0 .25rem #dc362e40;
    border-color: #dc362e;
}

#contenedor-turnos input[type="radio"] {
    position: static !important;
    opacity: 1 !important;
    left: auto !important;
}

#contenedor-turnos .form-check-label::before,
#contenedor-turnos .form-check-label::after {
    display: none !important;
}

.check-tipo-turno:checked {
    background-color: #dc362e;
    border-color: #dc362e;
}

.check-tipo-turno:focus {
    box-shadow: 0 0 0 .25rem #dc362e40;
    border-color: #dc362e;
}

/*Contenedor ultima etiqueta generada*/
.contenedor-ult-etiq {
    background: #f8f9fa;
    border: 1px solid #939393;
    box-shadow: inset 0px 0px 4px 2px #d5d5d5;
}

.btn-vistaPrevia {
    border: 1px solid #bbbbbb;
    border-radius: 7px;
    color: #7f7f7f;
    font-size: 12px;
}

.btn-vistaPrevia:hover {
    background-color: #cfcfcf;
}

.titulo-ult-etq {
    font-size: 16px;
}

.info-ult-etiqueta {
    font-size: 15px;
}


.alert-secundarias {
    background-color: #F4F7FB;
    color: #334155;
    border-left: 5px solid #64748B;
    border-color: #64748B;
    box-shadow: 2px 2px 5px 0px #c2c2c2;
}

.alert-secundarias-hover:hover {
    color: #334155c4;
}

.alert-cuidado {
    color: #894a4a;
    border-left: 5px solid #d60000 !important;
    border-color: #d60000;
    box-shadow: 2px 2px 5px 0px #c2c2c2;
}

.alert-cuidado-hover:hover {
    color: #a66969;
}

.alert-info {
    color: #0e4394;
    border-left: 5px solid #5e95ea !important;
    border-color: #5e95ea;
    box-shadow: 2px 2px 5px 0px #c2c2c2;
}
.alert-info-hover:hover {
    color: #769cd7;
}

/* Tabla de Maquila */
.tabla-EMaquila th:nth-child(1),
.tabla-EMaquila td:nth-child(1) {
    width: 180px;
}

.tabla-EMaquila th:nth-child(2),
.tabla-molido td:nth-child(2) {
    width: 350px;
}

.tabla-EMaquila th:nth-child(3),
.tabla-EMaquila td:nth-child(3) {
    width: 160px;
}

.tabla-EMaquila th:nth-child(4),
.tabla-EMaquila td:nth-child(4) {
    width: 160px;
}

.tabla-EMaquila th:nth-child(5),
.tabla-EMaquila td:nth-child(5) {
    width: 160px;
}

.texto-info {
    font-size: 9px;
}

.input-cantConsumir {
    width: 100px;
    text-align: center;
}

.visor-etiqueta {
    min-height: 285px;
    border: 2px dashed #c9c9c9 !important;
    border-radius: 10px;
    background: #fafafa;
    width: 300px;
}


/* Modal de cambios de turno */
#modalAutorizacionTurno {
    background-color: #00000085;
}

.input-codigo-autTurno {
    text-align: center;
    width: 50%;
}

.btn-validar-turno {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-cancelar-cambioTurno {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #ecf0f1;
    border-radius: 4px;
}


/* Media querys de la pagina*/
@media (max-width: 389px) {
    .seccion-btns-resinas {
        justify-content: center;
    }

    .seccion-btns-polietileno {
        display: grid !important;
        justify-content: center;
    }

    .btn-sol-GC {
        display: grid !important;
    }

    .btn-sol-GG {
        display: grid !important;
    }
}

@media (max-width: 767px) {
    .seccion-btns-CDM {
        display: grid !important;
        justify-content: center;
        gap: 18px !important;
    }

    .btn-sol-aut {
        justify-content: center !important;
        padding: 0px !important;
    }
    .btn-sol-GG {
        justify-content: center !important;
        padding: 0px !important;
    }

    .seccion-btns-Dev {
        display: grid !important;
        justify-content: center;
        gap: 18px !important;
    }

    .btn-sol-dev {
        justify-content: center !important;
        padding: 0px !important;
    }

    .btn-sol-GC {
        justify-content: center !important;
        padding: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #modalOpcionesPP .modal-dialog {
        max-width: 90vw;
    }
}

@media (max-width: 1199px) {
    #nav-RP .btn-generar-etiqueta {
        margin-top: 1rem;
    }

    .tabla-molido {
        min-width: 750px !important;
    }
}

@media (min-width: 1199px) {
    .tabla-molido {
        min-width: auto !important;
    }
}